.bg-color{
    background-color:#FDE7E7;
}
.carousel-item{
    padding: 20px 40px;
}
.col-md-7{
    }
.col-md-7 h1{
    text-transform: capitalize;
    font-size: 28px;
}
.col-md-7 p{
    font-size: 14px;

}
.col-md-7 a{
    text-decoration: none;
    display: inline-block;
}
.col-md-7 a button{
    border: none;
    background: #F30071;
    padding: 8px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}
.row{
    
}
.price{
    color: #F30071;
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
